/* General body styling */
.Register_body{
  font-family: Arial, sans-serif;
  /* background-color:white; */
  background-image: url(../src/assets/background1.png);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form container */
form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  justify-content: center;
  border:2px solid rgb(10, 196, 233);
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: rgb(0, 0, 94);
}

/* Submit button */
.submit{
  width: 25%;
  /* margin-left: 12vw;
  padding: 10px; */
  background-color: #183457;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height:6vh
}
.camel{
  width: 25%;
  /* margin-left: 12vw;
  padding: 10px; */
  background-color: #183457;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cancel-buttons{
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  
}

/* Form spacing */
form input,
form button {
  margin-bottom: 15px;
}
.heading{
    text-align: center;
    color:rgb(0, 0, 70)
}
@media (max-width: 575.98px) {
    form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 80%;
        justify-content: center;
        margin-bottom: 18vh;
        
      }
      .Register_body{
        height: 90vh;
      }
      /* Submit button */
.submit{
  width: 30%;
  margin-left: 25vw;
  padding: 10px;
  background-color: #183457;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height:4.6vh;
  transition: background-color 0.3s ease;
}
.camel{
  width: 25%;
  /* margin-left: 12vw;
  padding: 10px; */
  background-color: #183457;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height:4.6vh;
  transition: background-color 0.3s ease;
}

}